.offers-container {
    background: white;
    border-color: #00c4cc;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    overflow-y: scroll;
    max-height: 400px;
    flex-wrap: wrap;

    .text-center {
      background: #00c4cc;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    // .offer-item {
    //     height: 200px;
    //     width: 130px;
    //     background: white;
    //     margin-right: 10px;
    //     flex-shrink: 0;
    // }
}

.offers-container::after {
        content: '';
  min-width: 1px;

    }

.dashboard-bottom-container {
    display: flex;
}

.bottom-pet-container{
    width: 45%;
    display: flex;
    flex-direction: column;
    background: #00c4cc;
    border-radius: 15px;
    margin-right: 60px;
}

.bottom-bookings-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .text-center {
      background: #00c4cc;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding-bottom: 7px;
      // padding-bottom: 7px;
    }
}

.pet-container,
.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




// .bookings-container {
//     display: flex;
//     flex-direction: column;
//     background: #00c4cc;
//     height: 400px;
//     width: 50%;

//     .booking-item {
//         height: 160px;
//         width: 140px;
//         background: white;
//         margin-right: 6px;
//         flex-shrink: 0;
//     }
// }
// .pets-container {
//     display: flex;
//     flex-direction: column;
//     background: red;
//     height: 400px;
//     width: 50%;
    

//     .pet-item {
//         height: 160px;
//         width: 140px;
//         background: white;
//         margin-right: 6px;
//         flex-shrink: 0;
//     }
// }