<div class="container">
	<h1 class="text-center">RENT-A-PET</h1>
	<div>
		<%= render 'shared/search_bar' %>
	</div>
	<%= link_to 'Add Pet', new_pet_path %>
	<div class="pet_cards">
		<ul>
			<% @pets.each do |pet|  %>
        <%= link_to pet_path(pet) do %>	
        <%= render "shared/card_detail", pet: pet %>
        <% end %>
      <% end %>	
		</ul>
  </div>
</div>
