<div class="container">
	<h1 class="text-center">RENT-A-PET</h1>
	<div>
		<%= render 'shared/search_bar' %>
	</div>
	<div class ="info_container">
		<div class="cards">
				<% @pets.each do |pet|  %>
					<%# link_to pet_path(pet) do %>	
						<%= render "shared/card_detail", pet: pet %>
					<% end %>
				<%# end %>	
		</div>
		<div id="map"
				style="width: 500px; height: 650px;"
				data-markers="<%= @markers.to_json %>"
				data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
	</div>
</div>

