	<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img src="https://res.cloudinary.com/dddsdfpy5/image/upload/v1614767642/ya3a94nm1dry909c1ydzl32m1jfs.jpg" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title"><%= pet.name %></h5>
								<div class="owner"><%= pet.user.email %></div>
							<p class="card-text"><%= pet.description %></p>
							<p class="card-text"><small class="text-muted">$<%= pet.price %>Per Day</small></p>
						</div>
					</div>
				</div>
			</div>