<div class="container">
  <div class="navbar">
    <div class="logo">
      <%= image_tag 'https://res.cloudinary.com/dddsdfpy5/image/upload/v1614644263/Orange_and_White_Dog_Walking_Service_Logo_flb6pz.png' %>
    </div>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Booking', bookings_path %></li>
      <li><%= link_to 'Pets', pets_path %></li>
    </ul>
  </div>
</div>