<form class="d-flex w-50 mx-auto" action=<%= pets_path %> method="GET">
  <input class="form-control me-2" name="location" type="search" placeholder="Enter your Australian postcode" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>