<div class="container">
  <div class="row justify-content-center">
    <%= link_to 'Add Pet', new_pet_path, class: "btn btn-info" %>
    <form class="d-flex flex-grow-1" action=<%= pets_path %> method="GET">
      <input class="form-control me-2" name="location" type="search" placeholder="Enter your Australian postcode" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>