<div class="bg-image" style="background-image: url(https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8YW5pbWFsJTIwcnVufGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
   height: 90vh; mb ">
	<div class="container d-flex h-100 align-items-center">
	  <div class="mx-auto text-center">
	    <h1 mx-auto my-0 class="title">RENT A PET</h1>
			<h2 text-white-50 mx-auto mt-2 mb-5>Why wait get it today</h2>
			<% unless  user_signed_in? %>
				<div class="try_button">
					<%= link_to 'Try Us Now', new_user_registration_path, class: "btn btn-primary btn-lg", id: "front_button" %>
				</div>
			<% end %>	
		</div>
	</div>
</div>
 
<div class="cd-container container">
  <h2>Recently added pets</h2>
  <div class="row display: flex justify-content: space-evenly">
		<% Pet.all.last(3).each do |pet| %>
			<%= render 'shared/landing_page_card', pet: pet %>
		<% end %>
	</div>
</div>
