<div class="container_home">
	<div class="banner">
	</div>
		<h1>Landing page</h1>
		<div class="try_button"><button type="button" id="front_button" class="btn btn-primary btn-lg">Try Us Now</button></div>
		<%= link_to 'List of Pets', pets_path %>

	<div class="row display:flex justify-content:space-between">
		<div class="card" id="cards" style="width: 18rem;">
			<img src="https://static.scientificamerican.com/sciam/cache/file/D059BC4A-CCF3-4495-849ABBAFAED10456_source.jpg?w=590&h=800&526ED1E1-34FF-4472-B348B8B4769AB2A1" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card" id="cards" style="width: 18rem;">
			<img src="https://static.scientificamerican.com/sciam/cache/file/D059BC4A-CCF3-4495-849ABBAFAED10456_source.jpg?w=590&h=800&526ED1E1-34FF-4472-B348B8B4769AB2A1" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<div class="card" id="cards" style="width: 18rem;">
			<img src="https://static.scientificamerican.com/sciam/cache/file/D059BC4A-CCF3-4495-849ABBAFAED10456_source.jpg?w=590&h=800&526ED1E1-34FF-4472-B348B8B4769AB2A1" class="card-img-top" alt="...">
			<div class="card-body">
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
	</div>
</div>

