<div class="container"><h1>Dashboard</h1></div>
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a href="#1a" data-toggle="tab">My Bookings</a>
			</li>
			<li><a href="#2a" data-toggle="tab">My Pets</a>
			</li>
			<li><a href="#3a" data-toggle="tab">My Offers</a>
			</li>
  	</ul>
			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
            <%= @my_bookings%>

				</div>
				<div class="tab-pane" id="2a">
          <%= @pets %>
				</div>
        <div class="tab-pane" id="3a">
          <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
				</div>
			</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>