.cards {
	width: 100%;
	margin-right: 8px;
}

.card {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 2px 1px 2px #e8e8e8;
	margin-bottom: 24px;
}

.card-row {
	display: flex;
	img {
		height: 100%;
		width: 100%;
	}
}

.card-headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		padding-bottom: 2px;
		border-bottom: 2px solid lightgray;
	}
}

.card-img-container {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 8px 4px;
	padding: 4px 6px;
	.card-description {
		height: 100px;
		margin-right: 8px;
		overflow: hidden;
	}
	p {
		margin: 0;
	}
	.card-link {
		margin-left: 0;
	}
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
