.cards {
	width: 100%;
}

.card {
	border-radius: 8px;
	overflow: hidden;
}

.card-row {
	display: flex;
	img {
		height: 150px;
	}
}

.card-headers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	p {
		padding-bottom: 2px;
		border-bottom: 2px solid lightgray;
	}
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 8px;
	padding: 4px 6px;
	.card-description {
		height: 50px;
		overflow: hidden;
	}
	p {
		margin: 0;
	}
	.card-link {
		margin-left: 0;
	}
}

.card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
