// New Pet Form
.simple_form.new_pet {
	box-shadow: 2px 2px 2px 4px lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 36px;
	padding: 16px 32px;
	.pet_photo {
		color: rgba(98, 131, 134, 0.972);
	}

	.form-group {
		width: 60%;
	}

	.btn {
		background-color: lightskyblue;
		border-radius: 4px;
		padding: 8px 12px;
		color: white;
		font-weight: bold;
		&:hover {
			background-color: rgb(51, 147, 207);
		}
	}
}

// Sign up form
.simple_form.new_user {
	box-shadow: 2px 2px 2px 4px lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 36px;
	padding: 16px 32px;
	width: 60%;
	margin: 0 auto;

	.form-inputs {
		width: 100%;
	}
	.btn {
		background-color: lightskyblue;
		border-radius: 4px;
		padding: 8px 12px;
		color: white;
		font-weight: bold;
		&:hover {
			background-color: rgb(51, 147, 207);
		}
	}
}

label {
	color: rgba(98, 131, 134, 0.972);
}
