.col-md-4 img {
    // width: 80%;
    // height: 24vw;
    // object-fit: cover;
    // border-radius: 16px;
    // padding-top: 6px;
    // padding-bottom: 6px;
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 4px;
}
.card-text {
    text-align: right;
    display: flex;
    // position: absolute;
    right: 6px;
    bottom: 10px;
    font-size: larger;
    font-weight: 400;
    text-align: right;
    display: flex;
    right: 6px;
    bottom: 10px;
    font-size: larger;
    font-weight: 400;
}
.card-title {
    font-weight: 600;
    letter-spacing: 0.075rem;
    margin-bottom: 0;
}
.card mb-3 {
    width: 600px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px;
}
.text-muted {
    position: absolute;
    bottom: 12px;
    right: 20px;
    color: #00c4cc;
}
.row g-0 {
    border-radius: 15px;
}
.card {
    border-radius: 15px;
}
.owner {
    font-weight:100;
    opacity: 0.55;
}